<?xml version="1.0"?>
<robot name="Peeler_Robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Materials -->

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="aluminum">
    <color rgba="0.6 0.6 0.6 1"/>
  </material>

  <!-- Peeler -->
  <xacro:include filename="$(find azenta_description)/urdf/peeler.urdf.xacro" />
  <xacro:Peeler prefix="peeler/"/>
  

</robot>
